# Environment variables and secrets
.env
.env*.local
.env.development
.env.production
.env.staging
*.local

# Next.js build output
.next/
out/
build/
dist/
dist-ssr/

# Node dependencies
node_modules/
.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and system files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel & TypeScript cache
.vercel
*.tsbuildinfo
